<footer>
    <div class="color-picker">
        <button class="hover-area first" onclick="swapBackgroundColorsWithBody(this.querySelector('.dot'))">
            <div class="dot"></div>
        </button>
        <button class="hover-area second" onclick="swapBackgroundColorsWithBody(this.querySelector('.dot'))">
            <div class="dot"></div>
        </button>
        <button class="hover-area third" onclick="swapBackgroundColorsWithBody(this.querySelector('.dot'))">
            <div class="dot"></div>
        </button>
    </div>
</footer>
